<div class="w-[465px] h-20 relative mx-auto">
  <div class="w-[465px] h-20 left-0 top-0 absolute">
    <div class="w-[465px] h-20 left-0 top-0 absolute bg-rose-400 rounded-tl-2xl rounded-tr-2xl"></div>
    <form action="/search" method="GET" class="relative w-full h-full">
      <div class="w-[calc(100%-3rem)] h-12 left-[22px] top-[16px] absolute bg-white rounded border-2 border-rose-400">
        <input type="text" name="query" placeholder="施術名・悩み・アイテムなどで検索"
          class="w-full h-full bg-transparent text-zinc-400 text-xl font-thin font-['Inter'] focus:outline-none focus:ring focus:border-blue-400 placeholder:text-zinc-400 placeholder:text-xl pl-2"/>
        <button type="submit" class="absolute right-[5px] top-1/2 transform -translate-y-1/2 w-6 h-6 bg-rose-400 rounded-full focus:outline-none">
          <svg class="m-auto w-4 h-4 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-4.35-4.35M16.65 16.65a8.575 8.575 0 111.414-1.414l4.351 4.351z"></path>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>

<div class="w-[465px] h-72 relative mx-auto">
  <div class="w-[465px] h-72 left-0 top-0 absolute bg-white border-l border-r border-zinc-400"></div>
  <div class="left-[11px] top-[5px] absolute text-black text-base font-bold font-['Inter']">部位から探す</div>
</div>




