<div class="block" data-controller="search-autocomplete">
  <%= form_with(url: search_index_path, method: :get, local: true, class: 'w-full md:w-96') do %>
    <div class="relative w-full">
      <!-- アイコンを含むボタン -->
      <button type="submit" class="absolute inset-y-0 left-3 flex items-center justify-center text-neutral-500">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
          class="hi-solid hi-magnifying-glass h-5 w-5">
          <path
            fill-rule="evenodd"
            d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
            clip-rule="evenodd"/>
        </svg>
      </button>
      <!-- 検索フィールド -->
      <%= text_field_tag :search, params[:search], class: 'block w-full rounded border border-gray-300 py-4 pl-10 pr-4 leading-5 focus:border-gray-600 focus:ring focus:ring-gray-600/25 focus:outline-none', placeholder: 'Search..', data: { action: 'input->search-autocomplete#search', target: 'search-autocomplete.input' } %>

      <!-- オートコンプリートの結果表示 -->
      <ul data-search-autocomplete-target="results" class="absolute z-10 bg-white w-full border border-white rounded shadow-lg">
      </ul>
    </div>
  <% end %>
</div>
