<div class="bg-white">
  <div class="mx-auto max-w-screen-md px-4 md:px-8">
    <div class="flex items-center justify-between mb-3">
      <span class="text-lg block font-bold">Comment</span>
    </div>
    <%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
      <div class="flex items-center gap-4">
        <%= form.text_area :body, class: "w-full px-4 py-2 border rounded-lg text-sm focus:ring-indigo-300 focus:border-indigo-300", placeholder: "コメントを入力してください" %>
        <%= form.submit "送信", class: "inline-block rounded-lg border bg-white px-4 py-2 text-center text-sm text-gray-500 outline-none ring-indigo-300 transition duration-100 hover:bg-gray-100 focus-visible:ring active:bg-gray-200 md:px-8 md:py-3 md:text-base" %>
      </div>
    <% end %>
  </div>
</div>