<%# 施術のプルダウン %>
<label class="text-gray-600">
  <select id="area_categories" class="block px-3 py-2 bg-white border border-gray-200 rounded-md shadow-sm w-52 focus:outline-none focus:ring-primary-500 focus:border-primary-500" name="post[area_category_id]">
    <option value="">
      選択
    </option>
    <% @area_categories.each do |category| %>
      <option value="<%= category.id %>">
        <%= category.title %>
      </option>
    <% end %>
  </select>
</label>


