<%# 投稿のプルダウン %>
<select class="block px-3 py-2 text-gray-600 bg-white border border-gray-200 rounded-md shadow-sm w-52 focus:outline-none focus:ring-primary-500 focus:border-primary-500" name="post">
  <option value="">
    選択
  </option>
  <option value="dog">
    経過
  </option>
  <option value="cat">
    アイテム
  </option>
</select>
