<label class="text-gray-700">
  <select id="animals" class="block px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm w-52 focus:outline-none focus:ring-primary-500 focus:border-primary-500" name="post">
    <option value="">
      選択
    </option>
    <option value="progress">
      経過
    </option>
    <option value="item">
      アイテム
    </option>
  </select>
</label>
