<%# カスタムファイルの読み込み %>
<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

<footer class="flex justify-between w-full bg-rose-200 border-t border-zinc-400 py-6">
  <div class="px-4 sm:px-6 lg:px-8 w-1/2">
    <div class="w-full h-36 relative">
      <div class="w-full left-[31px] top-[71px] absolute text-black text-xs font-bold font-istok-web">
        美容整形を考えるすべての人へ。<br>
        「Hanbi」は、美容整形の準備から術後の経過まで”まるっと”サポートしてくれるアプリです。<br>
        このアプリひとつで、安心して美容整形に臨めます！
      </div>
      <div class="w-24 h-7 left-[31px] top-[12px] absolute color-custom text-3xl font-bold font-inter">HanBi</div>
    </div>
  </div>

  <div class="w-40 h-28 relative">
    <a href="/privacy-policy" class="w-40 h-4 left-0 top-[100px] absolute text-black text-xs font-bold font-['Inter'] hover:underline">プライバシーポリシー</a>
    <a href="/contact" class="w-24 h-4 left-0 top-[20px] absolute text-black text-xs font-bold font-['Inter'] hover:underline">お問い合わせ</a>
    <a href="/terms-of-service" class="w-16 h-4 left-0 top-[60px] absolute text-black text-xs font-bold font-['Inter'] hover:underline">利用規約</a>
  </div>
</footer>