<div class="flex flex-col justify-start p-6 text-gray-700">
  <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">痩せたいけど食事制限はつらい！痩身施術を知ろう</a>
  <p href="#" class="text-sm pb-8">
    Published on April 25th, 2024
  </p>
  <h1 class="text-2xl font-bold pb-2">脂肪に関する施術一覧</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h1 class="text-xl font-bold pb-2">切らない脂肪吸引</h1>
  <ul class="list-disc pl-5">
    <li>脂肪冷却</li>
    <li>脂肪溶解注射</li>
    <li>インディバ</li>
    <li>HIFU</li>
  </ul>

  <h1 class="text-xl font-bold pb-2 pt-10">切る脂肪吸引</h1>
  <ul class="list-disc pl-5">
    <li>脂肪吸引</li>
  </ul>

  <h1 class="text-2xl font-bold pb-2 pt-10">脂肪冷却</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-5">脂肪冷却は、脂肪細胞を凍らせて死滅させることで、体外に脂肪を排出させる痩身施術です。脂肪は4℃で凍結します。凍結した脂肪は老廃物と化し、３〜４カ月かけて体外に排出されます。</p>
  <img src="/assets/ice.jpg" alt="ice" class="mt-5 w-1/2">

  <h1 class="text-2xl font-bold pb-2 pt-10">脂肪溶解注射</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-5">脂肪溶解注射とは、脂肪細胞自体を溶解し破壊することでダイエット効果を期待することができる痩身施術です。 皮下脂肪へ注射することで効果を発揮し、破壊された脂肪細胞は代謝によってそのまま汗や尿とともに、老廃物として体外へ排出されます。 ヒアルロン酸などと比べると持続期間は約2倍以上と言われていますが、その分使用できる箇所が限られています。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">超音波による痩身</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h1 class="text-xl font-bold pb-2">インディバ</h1>
  <p class="pb-2">インディバはスペインで生まれた高周波温熱機器のことで、電磁波エネルギーによって体を芯からムラなく温めることが出来ます。</p>
  <p class="pb-2">インディバによって血行が促進されると、リンパの流れも改善され、基礎代謝が高まります。代謝がアップすれば脂肪が燃焼されやすくなるので、痩せやすい体を目指せます。老廃物も排出されやすくなるため、むくみ改善にも効果的です。</p>
  <p class="pb-2">痩身目的でインディバの施術を受ける方は多いですが、インディバは短期間で痩せられる施術ではありません。</p>
  <p class="pb-2">インディバで得られる代謝アップや脂肪燃焼などの効果は体質改善に近いため短期間での痩身には向いておらず、体に変化が現れるまではある程度施術を受ける必要があります。</p>

  <h1 class="text-xl font-bold pb-2 pt-5">HIFU</h1>
  <p class="pb-5">皮膚の外側から高密度焦点式超音波・レーザー・高周波を当てる事により、部分的に脂肪を溶解することが出来ます。医療HIFUはリフトアップ効果のほか脂肪溶解機能の付いたものもあります。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">脂肪吸引</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-5">脂肪吸引は、太さ数mmのカニューレを使って、余分な皮下脂肪を取り除く痩身手術です。ダイエットでは難しい部分痩せを確実に叶え、ボディラインを美しく整えることを目的としています。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">切らない脂肪吸引について</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h1 class="text-xl font-bold pb-2">ダウンタイム</h1>
  <p class="pb-5">腫れやむくみ、内出血などが起こるリスクがありますが、数日〜1週間程度で軽快することがほとんどです。ダウンタイムはほとんどなく、施術当日から大きな負担なく生活が可能となります。</p>

  <h1 class="text-xl font-bold pb-2 pt-5">施術当日の注意点</h1>
  <ul class="list-disc pl-5">
    <li>効果を高めるために、水分を摂取するようにしましょう。適度な水分補給により代謝を上げることで、老廃物（脂肪）を早く排出させることにつながります。</li>
    <li>施術当日は過度な運動や飲酒を避けましょう。血行や代謝が良くなると施術部位に赤みや痛みが出てくる可能性があります。</li>
    <li>適度な運動を心がけましょう。ウォーキングなどの有酸素運動が効果的です。</li>
  </ul>

  <h1 class="text-2xl font-bold pb-2 pt-10">切る脂肪吸引について</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h1 class="text-xl font-bold pb-2">＜ダウンタイム＞</h1>
  <h1 class="text-lg font-bold pb-2">痛み</h1>
  <ul class="list-disc pl-5">
    <li>強い筋肉痛のような痛みが出現します。太ももがもっとも強く出やすいです。</li>
    <li>ピークは術後３日間程度です。違和感は１～２週間ほどで消失します。</li>
  </ul>

  <h1 class="text-lg font-bold pb-2 pt-10">内出血</h1>
  <ul class="list-disc pl-5">
    <li>術後４～５日ほどがピークです。赤黒いあざから１週間前後で黄色くなり、２～３週間で消失します。</li>
  </ul>

  <h1 class="text-lg font-bold pb-2 pt-10">むくみ</h1>
  <ul class="list-disc pl-5">
    <li>むくみでの影響で一時的に太って見えることもあります。重力の関係で下半身は広範囲に現れやすいです。</li>
    <li>ピークは１週間前後で、２週間～１ヵ月ほどで徐々に軽減していきます。</li>
  </ul>

  <h1 class="text-lg font-bold pb-2 pt-10">硬縮</h1>
  <ul class="list-disc pl-5">
    <li>施術部位に違和感（つっぱる感じ・硬い・でこぼこ感など）が現れることもあります。</li>
    <li>１～２週間後から出現、３～６ヵ月ほどで気にならなくなっていきます。</li>
  </ul>

  <h1 class="text-xl font-bold pb-2 pt-11">＜施術後の注意点＞</h1>
  <h1 class="text-lg font-bold pb-2">入浴やサウナや激しい運動を控える</h1>
  <p class="pb-1">血行が良くなると、腫れが悪化するおそれがあります。一方、腫れが引いて拘縮やむくみが残っている場合は入浴で血行を良くしましょう。</p>
  <p class="pb-1">拘縮が残っている段階で軽くストレッチをして皮膚を伸ばすことは問題ありませんが、腫れや内出血がみられる時期は安静に過ごしましょう。</p>

  <h1 class="text-lg font-bold pb-2 pt-5">冷やす</h1>
  <p class="pb-1">施術部位を冷やすことで腫れが引きやすくなります。凍傷のおそれがあるため冷やし過ぎには注意しましょう。</p>

  <h1 class="text-lg font-bold pb-2 pt-5">適切な圧迫固定を行う</h1>
  <p class="pb-1">圧迫固定を行うことで腫れやむくみを抑えることができますが、強く圧迫すると内出血が生じたりかゆくなったりする可能性があります。圧迫がきついと感じたらサポーターを緩めましょう。</p>

  <h1 class="text-lg font-bold pb-2 pt-5">マッサージで拘縮部分をほぐす</h1>
  <p class="pb-1">腫れが治まって拘縮が現れた場合はマッサージをしましょう。毎日行うと皮膚が滑らかな状態に戻りやすくなります。</p>
  <img src="/assets/massage.jpg" alt="massage" class="mt-5 w-1/2">

  <h1 class="text-xl font-bold pb-2 pt-11">＜服装＞</h1>
  <p class="pb-1">脂肪吸引当日の服装は「どこの部位の脂肪吸引を受けるか」によって異なりますが、体を締め付けず、着脱しやすいものを選ぶと良いです。</p>
  <p class="pb-1">脂肪吸引の後は圧迫固定が必要になります。施術部位にもよりますが、袖口から下着が見えてしまうこともあるため、これらを隠せる服装を選びましょう。夏場でも、薄手の長袖を選ぶことをおすすめします。また、靴もサンダルのように履きやすく脱ぎやすいものを選びましょう。</p>
  <p class="pb-1">顔の脂肪吸引の場合も圧迫が必要になります。体と違って目立つため、帽子やマスクなどを用意することをおすすめします。</p>
</div>