<div class="flex flex-col justify-start p-6 text-gray-700">
  <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">まずはヒアルロン酸で気軽に美しく</a>
  <p href="#" class="text-sm pb-8">
    Published on April 25th, 2024
  </p>
  <h1 class="text-2xl font-bold pb-2">フィラーの施術一覧</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <ul class="list-disc pl-5">
    <li>ヒアルロン酸</li>
    <li>コラーゲン</li>
    <li>レディエッセ</li>
    <li>エランセ</li>
    <li>ボトックス</li>
  </ul>
  <p class="pb-3 pt-3">※ここでは注射を使用した治療をフィラーと考え、ボトックスも一覧に表示しています。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">ヒアルロン酸とは</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-5">ヒアルロン酸は、もともと体内に広く存在する物質です。皮膚では、主に皮真皮層に存在し、皮膚の弾力性や潤いを保ちます。しかし、体内のヒアルロン酸は加齢とともに減少していきます。ヒアルロン酸が減った肌は、十分な水分や弾力を保持できず、ハリがなくなり、しわやたるみが発生する原因のひとつとなります。</p>
  <p class="pb-5">ヒアルロン酸注射は、ボリュームが減少した部分にアプローチし、しわやたるみを改善するだけでなく、唇をふくよかにしたり、鼻を高くするなど、パーツ形成もできる治療です。</p>
  <p class="pb-3">ヒアルロン酸は、ヒアルロニダーゼという薬剤を注入することで除去できます。ヒアルロン酸が注入されている部位に薬剤を注射すると、ヒアルロン酸が溶解して液体状になり数日で吸収されていきます。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">レディエッセとは</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-5">レディエッセ注射は注入してから吸収されるまでの期間が長いためヒアルロン酸などの注入剤よりも効果が持続します。 ヒアルロン酸などと比べると持続期間は約2倍以上と言われていますが、その分使用できる箇所が限られています。</p>
  <p class="pb-5">レディエッセはヒアルロン酸と違い、薬で溶解することはできません。除去するには切開して掻きだす必要があります。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">エランセとは</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-5">エランセ（コラーゲンブースト注射）は、PCL（ポリカプロラクトン）を主成分とする注入剤です。溶ける糸などに用いられている成分で、最終的には体内に吸収されます。</p>
  <p class="pb-5">ヒアルロン酸に比べて持続期間が長い注入剤のため一度注射をするとその形を保つことが出来ます。注入した部位のコラーゲン生成を促す（コラーゲンブースター）ことができて、ハリや弾力アップにも効果的ですが、溶解剤がなく溶かせないので修整が困難です。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">ヒアルロン酸注入後の注意事項</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h3 class="text-xl font-bold pb-3">注入部位を押さない</h3>
  <p class="pb-1">ヒアルロン酸注入直後、強い力で押すとせっかく整えたヒアルロン酸の形が崩れてしまう可能性があります。１か月程度で安定するため、マッサージなどは１か月は控えるようにしましょう。</p>
  <p class="pb-1">あごにヒアルロン酸を注入した場合は、頬杖をついてあごを圧迫する姿勢は避けましょう。</p>
  <img src="/assets/filler_ng.jpg" alt="ng" class="mt-5 w-1/2">

  <h3 class="text-xl font-bold pb-3 pt-10">血行を良くする行動は避ける</h3>
  <p class="pb-1">ヒアルロン酸注入後のメイクは出血が無ければ当日から可能です。</p>
  <p class="pb-1">しかし、湯船やサウナなどで血行が良くなると施術部位に痛みや腫れ、内出血が生じることもあります。激しい運動や飲酒も当日は避けましょう。</p>

  <h3 class="text-xl font-bold pb-3 pt-10">ヒアルロン酸が馴染むまで時間がかかる</h3>
  <p class="pb-1">ヒアルロン酸の種類や部位によって異なりますが、安定するには1〜3週間程度の期間が必要とされています。施術直後の腫れやむくみは失敗ではないのであまり心配しすぎず、様子を見るようにしましょう。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">ボトックスとは</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-1">ボトックス注射は、しわや筋肉の緊張を和らげて、しわや張り感、汗や臭いなどの症状に対して、幅広く改善が期待できる治療です。</p>

  <h3 class="text-lg font-bold pb-3 pt-10">ボトックスの効果はどのくらいで出るの？</h3>
  <p class="pb-1">シワ・・・注射後2〜3日後に効果が出始め、約1〜2週間で効果がピークに達する。</p>
  <p class="pb-1">小顔（エラなど）・・・効果が出るまでに少し時間がかかるため、注射後1ヵ月程度で効果が最大となる。</p>
  <p class="pb-1">多汗症・・・2〜3週間程度で効果が最大になります。</p>
  <img src="/assets/filler_q.jpg" alt="question" class="mt-5 w-1/2">

  <h1 class="text-2xl font-bold pb-2 pt-10">ボトックス注射のダウンタイム</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-1">針を刺すため、注射部位に内出血や腫れが生じる可能性がありますが、1週間程度で軽快します。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">ボトックス注射後の注意事項</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h3 class="text-xl font-bold pb-3">注入部位を揉んだり擦ったりしない</h3>
  <p class="pb-1">当日から1週間はこすったり強く揉んだりしないでください。ボトックスの効果が薄くなったり効き目が出にくくなったりする可能性があるため、できるだけ手を触れないようにして過ごしましょう。</p>

  <h3 class="text-xl font-bold pb-3 pt-10">激しい運動や飲酒、サウナは避ける</h3>
  <p class="pb-1">体温が上がるような激しい運動や飲酒は避けるようにしてください。ボトックスの主成分は、熱によって変質したり不活性化する性質を持っています。ボツリヌストキシン毒素が完全に失活する温度は約80度と言われています。体温がそこまで上がることはありませんが、効果を低減させないためにも激しい運動は避けましょう。このように、運動、飲酒、高温の入浴はボツリヌストキシン製剤の働きを妨げてしまうため、極力避けましょう。</p>

  <h3 class="text-xl font-bold pb-3 pt-10">ボトックス直後のレーザー治療は避ける</h3>
  <p class="pb-1">ボトックス注入部位に、レーザー照射を行うのは避けましょう。HIFUのように超音波を使った治療やサーマクールのようなレーザー治療は、皮膚組織に熱を加え筋肉を刺激したりコラーゲンの生成を促したりします。皮膚や筋肉が部分的に高温になることがあり、ボトックスの効果が失われる可能性もあります。ボトックスとレーザー治療が併用できるかどうか、事前にクリニックへ相談しましょう。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">服装</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <ul class="list-disc pl-5">
    <li>縁が太いメガネやサングラス</li>
    <li>帽子</li>
    <li>マスク</li>
  </ul>
</div>