<div class="flex flex-col justify-start p-6 text-gray-700">
  <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">小顔にするには？ダウンタイムを徹底解説！</a>
  <p href="#" class="text-sm pb-8">
    Published on April 25th, 2024
  </p>
  <h1 class="text-2xl font-bold pb-2">リフトアップ・小顔の整形一覧</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <ul class="list-disc pl-5">
    <li>糸リフト</li>
    <li>切開リフト</li>
    <li>ハイフ</li>
    <li>バッカルファット除去</li>
    <li>メーラーファット除去</li>
    <li>ジョールファット除去</li>
    <li>骨切り</li>
    <li>骨削り</li>
    <li>脂肪吸引注射</li>
    <li>脂肪溶解注射</li>
    <li>脂肪吸引</li>
  </ul>

  <h1 class="text-2xl font-bold pb-2 pt-10">糸リフトとHIFUどっちがいいの？</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h3 class="text-lg font-bold pb-3">糸リフトは変化が欲しいとき</h3>
  <h3 class="text-lg font-bold pb-3">HIFUは現状維持したい、今より悪化させたくないとき</h3>
  <p class="pb-3">ご自身の目的に応じてカウンセリングで相談すると良いでしょう。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">HIFUのダウンタイム</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-3">それぞれの肌状態や体質・施術部位・照射出力の違いにより、ダウンタイムの期間は前後することがあります。基本的には、HIFUは日常生活に支障がでるような傷は出来ないためダウンタイムは「ほとんどない」と言われています。</p>
  <p class="pb-3">HIFUのダウンタイムは、数日～1週間で落ち着くことがほとんどです。赤みや腫れ感がある場合には、冷やしていただくとダウンタイムの軽減につながります。</p>
  <p class="pb-3">以下にHIFUで起こりうる症状を示します。</p>

  <h3 class="text-xl font-bold pb-3">赤みや腫れ</h3>
  <p class="pb-3">HIFU施術後は一時的に赤みや腫れが出現することがあります。</p>
  <p class="pb-3">HIFUは、肌の内部に熱エネルギーを与えるため、一時的に炎症状態となります。そのため、赤みや腫れなどの症状が出現しますが、数日～1週間程度で落ち着きます。</p>
  <p class="pb-3">これらは、血流が良くなる行為（入浴、飲酒、激しい運動など）を行うと増強する可能性があるため、数日は控えることをおすすめします。</p>
  
  <h3 class="text-xl font-bold pb-3">筋肉痛のような鈍い痛み</h3>
  <p class="pb-3">ハイフ（HIFU）では、肌の内部にダメージを与えるため、施術後に筋肉痛のような痛みを感じることがあります。</p>
  <p class="pb-3">筋肉痛のような痛みも、基本的には我慢できる程度であり、数日～1週間程度で落ち着くことがほとんどです。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">正しい過ごし方（HIFU以外）</h1>
  <hr class="border-t-1 border-gray-300 pb-3">

  <h3 class="text-xl font-bold pb-3">食事</h3>
  <p class="pb-3">ダウンタイム期間中は、硬いものや大きく口を開ける必要がある食べ物は避けましょう。顎や頬を動かしすぎると患部に痛みや引きつれが生じることがあります。</p>
  <p class="pb-3">糸が馴染むまでは、豆腐やゼリーなど柔らかい食べ物を細かくして食べるのがおすすめです。特にパックに入った吸うタイプのゼリー飲料が便利です。</p>
  <p class="pb-3">また、飲酒は血行が良くなり腫れや内出血が悪化する可能性があるため、術後1～2週間は控えてください。その後もむくみや腫れ、傷の治りの遅れとなるため１ヶ月はなるべく控えましょう。</p>
  
  <h1 class="text-xl font-bold pb-3 pt-5">安静に過ごす</h1>
  <p class="pb-3">手術後1週間は安静にしましょう。日常生活は通常通り過ごしていただいて問題ありません。</p>
  <p class="pb-3">軽めの運動は2週間目から可能です。糸リフト後のサウナ・エステ・ヨガ・激しいスポーツは1ヶ月控えましょう。</p>
  
  <h1 class="text-xl font-bold pb-3 pt-5">頬や首を冷やす</h1>
  <p class="pb-3">切開リフト、バッカルファット除去等は、腫れを予防するために顔用の固定バンドを数日着用します。</p>
  <p class="pb-3">帰宅後は冷却ジェルで頬や首を冷やし、ゆっくり休みましょう。固定バンドはクリニックの指示に従って着用し、安静とクーリングを行なって腫れを軽減しましょう。</p>
  
  <h1 class="text-xl font-bold pb-3 pt-5">頭を高く保つ</h1>
  <p class="pb-3">頭を高くして寝るとむくみが軽減します。</p>
  <p class="pb-3">傷口を圧迫するような横向きや下を向いたりする事は避けましょう。</p>
  
  <h1 class="text-xl font-bold pb-3 pt-5">傷口に力を加えない</h1>
  <p class="pb-3">施術直後は糸が馴染んでいないため、強い刺激を加えると糸の引っ掛かり（コグ）が外れてしまう可能性があります。強く押す、擦るなど、傷口に強い刺激を与える行動は避けましょう。</p>
  <p class="pb-3">糸を挿入した部分を必要以上に動かさないようにすることも大切です。</p>

  <h1 class="text-xl font-bold pb-3 pt-5">禁煙</h1>
  <p class="pb-3">タバコには血管を収縮させる作用があります。血管が収縮すると酸素や栄養素の循環が妨げられ、傷口の治りが遅れる可能性があります。さらに、細菌による感染症のリスクも高まります。</p>
  <p class="pb-3">これらの理由から、できる限り禁煙しましょう。</p>

  <h1 class="text-xl font-bold pb-3 pt-5">マッサージ</h1>
  <p class="pb-3">顔のマッサージは刺激となるため、傷口が安定するまでは行わないようにしましょう。傷口の炎症を防ぐため、できるだけ顔には触らないようにしてください。</p>
  
  <h1 class="text-xl font-bold pb-3 pt-5">歯の治療</h1>
  <p class="pb-3">歯の治療は口を大きく開く必要があるため、術後2ヶ月は避けましょう。</p>
  <p class="pb-3">糸リフトを行った場合は、糸が外れたり取れたりしてしまう可能性があります。</p>

  <h1 class="text-xl font-bold pb-3 pt-5">パーマ・ヘアカラー</h1>
  <p class="pb-3">糸リフトは頭皮やこめかみ付近から糸を入れることが多いため、パーマやヘアカラーは傷口が塞がるまでは避けましょう。</p>
  <img src="/assets/hair.jpg" alt="hair-color" class="mt-5 w-1/2">

  <h1 class="text-2xl font-bold pb-2 pt-10">アイテム</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h1 class="text-xl font-bold">ビーズクッション</h1>
  <a href="https://www.amazon.co.jp/Yogibo-%E3%83%A8%E3%82%AE%E3%83%9C%E3%83%BC-Max-%E3%83%80%E3%83%BC%E3%82%AF%E3%82%B0%E3%83%AC%E3%83%BC-%E3%80%90%E5%8F%97%E6%B3%A8%E7%94%9F%E7%94%A3%E5%93%81%E3%80%91/dp/B00XXFFLPI/ref=zg_bs_g_5341886051_d_sccl_2/355-6087128-4752335?psc=1" style="text-decoration: underline;">Amazonで詳細を見る</a>
  <p>Coming soon..URLをクリックしなくても商品ページが表示される予定です</p>

  <h1 class="text-xl font-bold pt-5">吸水シーツ</h1>
  <p>耳のまわりの傷からにじむ程度の出血がみられることがあります。寝ているときにガーゼがずれて枕や枕カバーが汚れるのが心配なら枕を十分覆えるサイズの吸水シーツを用意しましょう。</p>
  <a href="https://www.amazon.co.jp/%E5%90%B8%E6%B0%B4%E3%82%B7%E3%83%BC%E3%83%88-60x60cm-%E9%98%B2%E6%B0%B4%E3%82%B7%E3%83%BC%E3%83%88-%E6%8A%97%E8%8F%8C%E3%83%9D%E3%83%AA%E3%83%9E%E3%83%BC-%E3%81%8A%E3%82%80%E3%81%A4%E3%81%8B%E3%81%88%E3%82%B7%E3%83%BC%E3%83%88/dp/B0BY7QTB1T/ref=sr_1_2_sspa?dib=eyJ2IjoiMSJ9.oQW_sAqyt1o0QGCodFytYOJhI3b9oZC_SYotr54PqswBippjKOON_TqUsEik9NXHsLLIZvayGU3nI9_D8lj9NlRkBWKbKVrBkwAgEfR-WSk9r6ThSMgn94pEvg0H6ul88tET61Wj4Io5vPg1fWTunVoo0Jw87-uSRFIeShYu1YXV2YTQqhGp-gRZW01eWhVSNvCc2qDvOs2Za5o65KSQhD75sMxT8aJErZzVEDSINrryehTQPEqXch8adD9TW19wBJgHsgjQjVeYWw4K6RmbYdZz7BjGe1oBahI5j_VjsvE.-VEAcDfywKYi7flGzw1mvBQ7j59qKm6nBm6U8noRUzY&dib_tag=se&keywords=%E5%90%B8%E6%B0%B4%E3%82%B7%E3%83%BC%E3%83%88&qid=1719929966&sr=8-2-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9hdGY&psc=1" style="text-decoration: underline;">Amazonで詳細を見る</a>
  <p>Coming soon..URLをクリックしなくても商品ページが表示される予定です</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">服装</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <ul class="list-disc pl-5">
    <li>帽子</li>
    <li>前開きの服</li>
    <li>マスク</li>
    <li>ハイネックの服、首元が隠せるスカーフ</li>
    <p>頬や首に内出血がみられる時期は服装などで上手くカモフラージュしましょう。夏は暑苦しくならないような素材を選んでください。</p>
    <img src="/assets/scarf.jpg" alt="scarf" class="mt-5 w-1/2">
    <li>コンシーラー</li>
    <p>頬や首の内出血をカバーします。クリームタイプよりもリキッド、パウダーなど広い範囲にもつけやすく、こすらなくても落としやすいものが良いでしょう。</p>
  </ul>

  <h1 class="text-2xl font-bold pb-2 pt-10">季節</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p class="pb-3">「夏の手術は、汗で感染しやすいので避けた方がいいですか？」</p>
  <p class="pb-3">暑い季節は汗をかきやすく、傷口の衛生が保ちにくいと思われがちですが、現代ではエアコンの普及により室内での快適な過ごし方が可能です。そのため、手術のタイミングはあなたの準備が整ったタイミングが最適です。ダウンタイムをしっかりと確保できる時期を選びましょう。</p>
</div>