<div class="flex flex-col justify-start p-6 text-gray-700">
  <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">その他の施術</a>
  <p href="#" class="text-sm pb-8">
    Published on April 25th, 2024
  </p>
</div>