<div class="flex flex-col justify-start p-6 text-gray-700">
  <a href="#" class="text-3xl font-bold hover:text-gray-700 pb-4">これであなたも美しい陶器肌に</a>
  <p href="#" class="text-sm pb-8">
    Published on April 25th, 2024
  </p>
  <h1 class="text-2xl font-bold pb-2">肌の施術一覧</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <p><strong>脱毛</strong></p>
  <ul class="list-disc pl-5">
    <li>医療脱毛</li>
  </ul>
  <p class="pt-5"><strong>ニキビ、毛穴</strong></p>
  <ul class="list-disc pl-5">
    <li>ダーマペン</li>
    <li>ヴェルヴェッドスキン</li>
    <li>イオン導入、ピーリング</li>
    <li>ハイドラフェイシャル</li>
    <li>アグネス</li>
  </ul>
  <p class="pt-5"><strong>シミ、くすみ、美白</strong></p>
  <ul class="list-disc pl-5">
    <li>レーザートーニング</li>
    <li>ピコフラクショナルレーザー、ピコスポット</li>
  </ul>
  <p class="pt-5"><strong>リフトアップ、コラーゲン生成</strong></p>
  <ul class="list-disc pl-5">
    <li>サマークール</li>
    <li>HIFU</li>
  </ul>
  <p class="pt-5"><strong>しわ</strong></p>
  <ul class="list-disc pl-5">
    <li>ベビーコラーゲン</li>
    <li>水光注射</li>
    <li>ポテンツァ</li>
    <li>リジュラン</li>
    <li>ヒアルロン酸注入</li>
  </ul>
  <p class="pt-5"><strong>ケロイド、ホクロ</strong></p>
  <ul class="list-disc pl-5">
    <li>傷跡修正</li>
    <li>イボ、ホクロ取り（レーザー、切開）</li>
  </ul>

  <h1 class="text-2xl font-bold pb-2 pt-10">医療脱毛</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h1 class="text-xl font-bold pb-2">＜脱毛前日の注意点＞</h1>
  <h3 class="text-lg font-bold pb-2">誤った方法での自己処理</h3>
  <p class="pb-3">毛抜きやワックスを用いた自己処理はやめましょう。</p>
  <p class="pb-3">自己処理には、カミソリや除毛クリーム、電気シェーバーなどがありますが、特に毛抜きやワックスの使用はNGです。</p>
  <p class="pb-3">脱毛のレーザーは、毛根にあるメラニン色素に反応してダメージを与えます。毛抜きやワックスを使って根元から抜いてしまうと、レーザーがうまく反応せず、効果が低下する可能性があります。</p>

  <h3 class="text-lg font-bold pb-3 pt-5">正しい自己処理の方法は？</h3>
  <p class="pb-3">毛抜きは肌への負担が大きく、埋没毛や毛嚢炎などの肌トラブルが起こるおそれがあります。</p>
  <p class="pb-3">カミソリを使用した方法も、カミソリ負けで肌が荒れる場合があります。</p>

  <p class="pb-3 font-bold pt-3">1．肌をピンと張ってシェーバーを当てる</p>
  <p class="pb-1">電気シェーバーを動かす向きと反対向きに肌を張りながら、力を入れずに毛の流れに逆らって剃ります。シェービングの後は肌がデリケートな状態になっているため、化粧水やクリームでの保湿も忘れずに。</p>
  <img src="/assets/shaving.png" alt="shaving" class="mt-5 w-1/2">
  <p class="pb-3 pt-3">また、凸凹しているひじやひざは、肌を傷つけないよう電気シェーバーの角度を細かく変えてください。うなじ、背中、腰、ヒップなどは、一人では手が届きにくく、けがをすると施術ができないため、慎重に行いましょう。鏡で確認しながら処理することがおすすめです。</p>

  <p class="pb-3 font-bold pt-5">2．VIOはハサミでカットしてから処理する</p>
  <p class="pb-3">VIOはハサミで毛を短くカットしてから、毛の流れに逆らって電気シェーバーを当てます。</p>
  <p class="pb-3">はじめから毛流れに逆らってシェーバーを当てると肌を傷つけてしまう可能性があります。ハサミでカットした後は、毛流れに沿ってシェーバーを当てるようにしましょう。ある程度毛が短くなったら（３〜４ミリ）、毛流れに逆らってシェーバーを当てると肌を傷つけず、綺麗に剃ることが出来ます。</p>
  <p class="pb-3">Vラインは希望の形に合わせて毛を処理します。ハイジニーナの場合は、すべての毛を剃っておく必要があります。Iライン・Oラインは鏡で確認しながら少しずつ毛を剃ってください。</p>

  <h3 class="text-xl font-bold pb-3 pt-5">日焼けに注意</h3>
  <p class="pb-3">脱毛のレーザーは黒いメラニン色素に反応します。日焼けすると肌の色にレーザーが反応して、やけどが起こりやすい状態になります。</p>
  <p class="pb-3">日焼けが強い肌には施術を行うことができないため、脱毛期間中は日焼け対策をしましょう。</p>

  <h3 class="text-xl font-bold pb-3 pt-5">制汗剤はNG</h3>
  <p class="pb-3">脱毛前に制汗剤を使用すると、毛穴が塞がり毛穴の奥までレーザーが届かず脱毛効果が低くなる可能性があります。また、脱毛後の肌は敏感な状態なので、制汗剤の刺激により赤み・痒みなどの肌トラブルが起こることもあります。</p>

  <h1 class="text-xl font-bold pb-2 pt-10">＜脱毛当日の注意点＞</h1>
  <ul class="list-disc pl-5">
    <li>保湿する</li>
    <li>毛は抜かない</li>
    <li>日焼けは避ける</li>
    <li>施術当日の入浴は控える</li>
    <li>激しい運動や飲酒は控える</li>
  </ul>

  <h1 class="text-2xl font-bold pb-2 pt-20">レーザー治療</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <ul class="list-disc pl-5">
    <li>ダーマペン</li>
    <li>ヴェルヴェッドスキン</li>
    <li>イオン導入、ピーリング</li>
    <li>ハイドラフェイシャル</li>
    <li>アグネス</li>
    <li>レーザートーニング</li>
    <li>ピコフラクショナルレーザー、ピコスポット</li>
  </ul>

  <h1 class="text-xl font-bold pb-2 pt-10">＜ダウンタイムは？＞</h1>

  <p class="pb-3">レーザー治療では、施術内容によって洗顔、洗髪、シャワー、入浴、メイク、運動、飲酒などが制限されることもあります。施術を受ける前にダウンタイムについて必ず確認しておきましょう。</p>
  <p class="pb-3">ダウンタイムの症状や期間は、施術内容によって異なります。以下に代表的な肌治療について、ダウンタイムの目安期間や症状を示します。</p>
  
  <h3 class="text-xl font-bold pt-3">レーザー治療：4日～1週間以上</h3>
  <p class="pb-3">レーザー治療は効果も高い反面、肌への負担が大きく、他の施術と比べてダウンタイムも長い傾向があります。ダウンタイム中は患部をテープで保護する必要があったり、紫外線やメイクを避けなくてはいけない場合もあります。</p>

  <h3 class="text-xl font-bold pt-3">フォトフェイシャル：ほぼなし</h3>
  <p class="pb-3">フォトフェイシャルは、IPL（Intense Pulsed Light）という光を肌に当てることによってシミやそばかすを改善します。痛みなどのダウンタイムがほとんどなく、施術が終わってすぐにメイクをすることも可能です。</p>
  <p class="pb-3">しかし、施術直後の肌は乾燥しやすくデリケートなため、保湿はしっかり行いましょう。</p>

  <h3 class="text-xl font-bold pt-3">ケミカルピーリング：ほぼなし</h3>
  <p class="pb-3">ケミカルピーリングは、ピーリング薬剤を肌に塗布し、古い角質や毛穴の汚れを除去することで肌のターンオーバーを促進する治療です。</p>
  <p class="pb-3">ダウンタイムはほとんどありません。しかし、赤みが出たり、乾燥が生じたりすることがあります。</p>

  <h3 class="text-xl font-bold pt-3">ダーマペン：2〜3日程度</h3>
  <p class="pb-3">ダーマペンは、超極細針で肌に小さな穴を開けます。肌が回復する（自然治癒力）過程でコラーゲンの生成が促され、毛穴やニキビ跡の改善やエイジングケアが期待できます。</p>
  <p class="pb-3">ダーマペンを受けてから2～3日間は、乾燥しやすくなったりヒリヒリ感が出てくる場合もあります。また、針の深さによっては出血を伴うため施術直後には赤みが出ることもあります。洗顔・メイクは、施術後12時間はできません。</p>

  <h3 class="text-xl font-bold pt-3">コラーゲンピールのダウンタイム：ほぼなし</h3>
  <p class="pb-3">コラーゲンピールは、PRX-T33という薬剤をマッサージしながら肌へ浸透させ、コラーゲン増生によって肌にハリや弾力をもたらす施術です。メラニン生成も抑制するため、シミやくすみの改善も期待できます。</p>
  <p class="pb-3">赤みや皮むけなどが起こることもほとんどなく、メイクも当日から可能です。施術から数日後に薄く皮がむける場合もあります。</p>
  
  <h1 class="text-xl font-bold pb-2 pt-10">＜ダウンタイムのまとめ＞</h1>
  <ul>
    <li>フォトフェイシャルやケミカルピーリング、ダーマペンなどはダウンタイムがほとんどなく、日常生活への支障が少ない。</li>
    <li>レーザー治療は、他の治療と比較しダウンタイムが長い傾向にある。</li>
  </ul>

  <h1 class="text-xl font-bold pb-2 pt-10">＜施術後の注意点＞</h1>
  <h3 class="text-lg font-bold pb-3">施術部位への刺激は避ける</h3>
  <p class="pb-3">施術部位には刺激を与えないように注意しましょう。腫れやかゆみ、赤みなどが気になると思いますが、こすったり触ったりしないようにしてください。</p>
  <p class="pb-3">洗顔やメイクを行う場合は優しく丁寧に行いましょう。洗浄力の強いものやスクラブ入りのものは避け、肌に優しい成分のものを使用することがおすすめです。</p>

  <h3 class="text-lg font-bold pb-3 pt-5">血行が良くなる行動は避ける</h3>
  <p class="pb-3">血行が良くなると腫れや炎症が長引いてしまいます。</p>
  <p class="pb-3">入浴や運動、飲酒などは血行が良くなります。入浴が許可されている場合でも短時間で済ませ、激しい運動や飲酒は控えることをおすすめします。</p>

  <h1 class="text-2xl font-bold pb-2 pt-10">服装</h1>
  <hr class="border-t-1 border-gray-300 pb-3">
  <h3 class="text-lg font-bold pb-3">首元が開いた服</h3>
  <p class="pb-3">機械によりますが、HIFUやフォトフェイシャルはジェルを使用します。</p>
  <p class="pb-3">特にHIFUはコースによって顎下や首も施術を行うため、　首元が詰まった服装は避けましょう。</p>

  <h3 class="text-lg font-bold pb-3 pt-5">帽子やサングラス</h3>
  <p class="pb-3">紫外線を浴びると炎症や色素沈着を起こすことがあるため、当日は帽子やサングラス、マスクなどを使用して顔をカバーしましょう。</p>
</div>