<%# 投稿の一覧 %>
<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>

<% if user_signed_in? %>
  <%= button_to "投稿", {controller: 'posts', action: 'new'}, {method: :get} %>
<% end %>


<% @posts.each do |post| %>
  <span>投稿者：</span><%= posts.user.name %>
  <%= post.body %>
<% end %>