<div class="mt-24">
  <h1>Posts#show</h1>
  <p>Find me in app/views/posts/show.html.erb</p>

  <p>
    <strong>Image:</strong>
    <%# <%= image_tag @post.procedure_image.url %> %>
    <%= image_tag @post.procedure_image.url, size: "300x250", class: "w-[300px] h-[250px] object-cover" %>
  </p>
</div>