<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

<aside class="w-full md:w-1/3 flex flex-col items-center px-3">
  <%# 1段目 %>
  <div class="w-full bg-white shadow flex flex-col my-4 p-6">
    <p class="text-xl font-semibold pb-5">Post</p>
    <% if @posts.any? %>
      <div class="grid grid-cols-3 gap-3">
        <% @posts.each do |post| %>
          <div>
            <%= link_to post_path(post) do %>
              <% if post.procedure_image.present? %>
                <%= image_tag post.procedure_image.url, class: "hover:opacity-75 w-32 h-32 object-cover" %>
              <% else %>
                <%= image_tag 'post_default1.png', class: "hover:opacity-75 w-32 h-32 object-cover" %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if @posts.count >= 6 %>
        <a href="#" class="w-full btn-custom text-white font-bold text-sm uppercase rounded  flex items-center justify-center px-2 py-3 mt-6">
          <i class="fab fa-instagram mr-2"></i> more..
        </a>
      <% end %>
    <% else %>
      <p class="text-center text-gray-600">投稿がありません</p>
    <% end %>
  </div>

  <%# 2段目 %>
  <div class="w-full bg-white shadow flex flex-col my-4 p-6">
    <p class="text-xl font-semibold pb-5">coming soon..</p>
    <p class="pb-2">coming soon..</p>
    <a href="#" class="w-full btn-custom text-white font-bold text-sm uppercase rounded flex items-center justify-center px-2 py-3 mt-4">
        button
    </a>
  </div>
</aside>

<script>
  function getCarouselData() {
    return {
      currentIndex: 0,
      images: [
        'https://source.unsplash.com/collection/1346951/800x800?sig=1',
        'https://source.unsplash.com/collection/1346951/800x800?sig=2',
        'https://source.unsplash.com/collection/1346951/800x800?sig=3',
        'https://source.unsplash.com/collection/1346951/800x800?sig=4',
        'https://source.unsplash.com/collection/1346951/800x800?sig=5',
        'https://source.unsplash.com/collection/1346951/800x800?sig=6',
        'https://source.unsplash.com/collection/1346951/800x800?sig=7',
        'https://source.unsplash.com/collection/1346951/800x800?sig=8',
        'https://source.unsplash.com/collection/1346951/800x800?sig=9',
      ],
      increment() {
        this.currentIndex = this.currentIndex === this.images.length - 6 ? 0 : this.currentIndex + 1;
      },
      decrement() {
        this.currentIndex = this.currentIndex === this.images.length - 6 ? 0 : this.currentIndex - 1;
      },
    }
  }
</script>
