/* ログイン画面のログインボタンと会員登録画面の登録ボタン */
.btn-custom {
  background-color: rgb(171,154,102);
  transition: background-color 0.2s ease;
}

.btn-custom:active {
  background-color: rgb(157,137,74);
}

/* 会員登録画面のログインボタン */
.login-btn-custom {
  background-color: rgb(171,154,102);
  transition: background-color 0.2s ease;
}

.login-btn-custom:active {
  background-color: rgb(157,137,74);
}

/* 基本の文字色 */
.color-custom {
  color: rgb(171,154,102);
}

/* 基本の背景色 薄め */
.back-color-custom {
  background-color: rgb(246,244,234)
}